In [1]:
import pandas as pd

In [2]:
import csv

In [3]:
file=open('MCC950_Swisssimilarity.csv')
open=pd.read_csv(file)
open

    CC(C)(O)C1=COC(=C1)S(O)(=O)=NC(=O)NC1=C2CCCC2=CC2=C1CCC2 ZINC000034025113
0    CC(C)C1=CC(NC(=O)NS(=O)(=O)C2=CC=C(C)C=C2)=CC(...
1    CNS(=O)(=O)C1=CC(=CO1)C(=O)NC1=CC=C2COCC2=C1 Z...
2    FC1=C(NS(=O)(=O)C2=CC=CO2)C=C2CCC(=O)NC2=C1 ZI...
3    CC(=O)NC1=CC=C(C(C)=C1)S(=O)(=O)NCC[C@@H](O)C1...
4    CCC(=O)NC1=CC=C(C(C)=C1)S(=O)(=O)NCC[C@H](O)C1...
..                                                 ...
394  _CCC1=CC=C2C(CC(=O)NC3=CC=C(C=C3)S(=O)(=O)NCC3...
395  _COC1=CC=C(NS(=O)(=O)C2=CC=C3NC(=O)CCCC3=C2)C(...
396  _CCN1C(=O)CCC2=CC(NS(=O)(=O)C3=C(C)C=CC=C3Cl)=...
397  _CC1=CC([C@H](O)CCNS(=O)(=O)C2=CC=C(C=C2)N2CCC...
398  _CC1=CC=C(C=C1)S(=O)(=O)NC(=O)NC1=CC=C(C)C(C)=...

[399 rows x 1 columns]

In [5]:
result=open.replace('_', "")
result.to_csv('MCC950_swisssimilarity_new.csv')

TypeError: ignored